<% ChinaTweet.get_all_clients(@subdomain).each do |client| %>
  <p><%= client[:name] %>: <%= client[:authorized] ? 'Authorized' : link_to('Send request', syncs_new_path(:type => client[:name])) %></p>
<% end %>
