* {
	margin: 0;
	padding: 0;
	background-repeat: no-repeat;
}

input[type=text], textarea {
	background-color: transparent;
}

body {
	overflow-x: auto;
	overflow-y: scroll;
	border-width: 0;
	font-family: "微软雅黑", serif;
}

html, body, select {
	background-color: #000;
}

html, body, input, textarea, select {
	color: #EEE;
}

select {
	border-color: #555;
}

blockquote {
	margin-left: 30px;
}

pre, pre * {
	font-size: 14px;
	font-family: "DejaVu Sans Mono", Monaco, monospace;
}

a {
	text-decoration: none;
	border-bottom: 1px solid #8cf;
	color: #8cf;
	outline: none;
}

a:hover {
	color: #fff;
	border-color: #fff;
}

a img {
	border-width: 0;
}

div, p, td {
	cursor: default;
}

button, a * {
	cursor: pointer;
}

table {
	border-collapse: collapse;
}

li {
	list-style-type: none;
}

ol li {
	list-style-type: decimal;
}

.hide {
	display: none;
}

div.outBox {
	background-image: url("../images/head_bg.png");
	background-position: 367px -40px;
	width: 960px;
	margin: 0 auto 50px;
	min-height: 500px;
}

h1 {
	font-size: 24px;
}

h2 {
	font-weight: normal;
	font-size: 22px;
}

p.site_error {
	text-align: center;
	padding: 50px 0;
	font-size: 24px;
}

div.menu {
	margin: 20px 0 20px -20px;
	/* overflow: hidden; */
	width: 1000px;
	height: 50px;
	background-image: url("../images/menu_bg.png");
	background-repeat: repeat-x;	
}

div.menu ul {
	/* float: left; */
	margin-left: auto;
	margin-right: auto;
}

div.menu ul li {
	float: left;
	display: block;
}

div.menu li a {
	text-align: center;
	display: block;
	width: 150px;
	height: 40px;
	padding: 5px 0;
	border-width: 0;
	font-size: 20px;
	background-position: 0 0;
	margin-left: 20px;
}

div.menu a.selected,
div.menu a {
	background-image: url("../images/menu_bg.png");
	background-repeat: repeat-x;
	background-position: 0 0;
}

div.menu a:hover {
	background-position: 0 0;
}

div.menu a.selected {
	color: #fff;
	background-position: 0 -60px;
}

div.menu a.selected:hover {
	background-position: 0 -120px;
}

div.menu span {
	color: silver;
	display: block;
	font-size: 12px;
	font-family: Verdana;
}

div.menu a:hover span {
	color: white;
}

div.menu a.header {
	display:block;
	float: right;
	width: 210px;
	height: 85px;
	text-decoration: none;
	border: none;
	margin: -20px 20px 0 0;
	background-image: url("../images/site_title.png");
	background-position: 0 0;
}

div.menu a.header:hover {
	background-position: 210px 0;
}

body > div.highlight,
body > div.highlight > div > div {
	background-image: url("../images/foot_bg.png");
	background-repeat: repeat-x;
}

body > div.highlight {
	background-position: 0 -200px;
}

body > div.highlight > div > div {
	margin: 0 2px;
}

body > div.highlight > div {
	background-image: url("../images/foot_border.png");
	background-repeat: repeat-x;
	margin: 0 auto;
	height: 100%;
	width: 1002px;
}

body > div.footer {
	height: 60px;
}

body > div.footer > div > div {
	padding: 25px 19px 10px;
	height: 25px;
	vertical-align: bottom;
}

body > div.footer p {
	font-size: 12px;
	font-family: Verdana;
	padding: 4px;
}
body > div.header {
}

body > div.header > div > div {
	padding: 0;
	text-align: right; 
	font-size: 16px;
}

div.pagination {
	text-align: center;
	clear: both;
	height: 20px;
	padding: 10px 0;
}

div.pagination, div.pagination * {
	font-size: 14px;
	font-family: Verdana;
}

div.pagination em {
  font-style: normal;
  font-weight: bold;  
	color: #fff;
}

div.pagination span.gap {
	padding: 0 4px;
	color: gray;
}

div.pagination em, div.pagination a, div.pagination span.gap {
	padding: 5px 3px 1px;
	margin: 0 4px;
}

/*
div.pagination a:before, div.pagination span.current:before {
	content: "[ ";
}

div.pagination a:after, div.pagination span.current:after {
	content: " ]";
}
*/

div.pagination, div.pagination span {
	cursor: default;
}

body.tweets div.msg {
	clear: both;
	background-color: #241;
	margin: 0 auto;
	padding-left: 25px;
}

body.tweets div.msg:hover div.content {
	border-width: 1px;
	padding: 4px 10px;
	background-color: rgba(34, 68, 102, 0.5);
}

body.tweets div.msgOut {
	border-width: 0;
	padding: 5px 11px;
}

body.tweets div.datetime {
	width: 100px;
	float: left;
	padding-top: 10px;
}

body.tweets div.datetime p {
	margin: 0;
	font-family: palatino, georgia, times new roman, serif;
}

body.tweets div.datetime p.date {
	margin-top: -10px;
	font-size: 15px;
	font-weight: bold;
}
div.datetime p.time {
	text-align: right;
	padding-right: 10px;
	font-size: 12px;
}

body.tweets div.content {
	border-width: 0;
	border-style: solid;
	border-color: silver;
	width: 640px;
	overflow: hidden;
	text-overflow: ellipsis;
	margin: 1px 0;
	line-height: 1.5;
	float: left;
	padding: 5px 11px;
	color: white;
}

body.tweets div.content span.from {
  color: gray;
  font-weight: bold;
}

body.tweets div.srcTag {
	float: left;
	width: 5px;
	height: 11px;
	margin: 14px 2px 0;
	background-color: green;
}

body.tweets div.msg div.copy {
	background-color: #FF6600;
}

body.tweets div#opButton {
	border: 1px solid green;
	background-color: white;
	position: absolute;
	width: 80px;
	left: -500px;
	top: -500px;
	clear: both;
}

